.left-section {
    display: grid;
    grid-template-rows: 1fr;
}

.card-preview-1 {
    padding: 30px;
    place-self: center;
    width: 350px;
    height: 200px;
    border-top: solid 5px hsl(180, 62%, 55%);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(128, 128, 128, 0.589);


}

.middle-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.card-preview-2 {
    padding: 30px;
    place-self: center;
    width: 350px;
    height: 200px;
    border-top: solid 5px hsl(0, 78%, 62%);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(128, 128, 128, 0.589);
}

.card-preview-3 {
    padding: 30px;
    place-self: center;
    width: 350px;
    height: 200px;
    border-top: solid 5px hsl(34, 97%, 64%);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(128, 128, 128, 0.589);
}

.right-section {
    display: grid;
    grid-template-rows: 1fr;
}

.card-preview-4 {
    padding: 30px;
    place-self: center;
    width: 350px;
    height: 200px;
    border-top: solid 5px hsl(212, 86%, 64%);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(128, 128, 128, 0.589);
}

